BACKEND_PORT=8002
BACKEND_INTERNAL_PORT=8000
FRONTEND_PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=medtutor_db

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/medtutor_db
CHROMA_URL=http://chromadb:8000
CHROMA_IS_PERSISTENT=TRUE
DB_WAIT_TIMEOUT=60

VITE_API_URL=/api

GEMINI_API_KEY=
OPENAI_API_KEY=
