fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
google-generativeai
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
langchain
langchain-google-genai
chromadb
pypdf
sentence-transformers
python-json-logger>=2.0.7
prometheus-fastapi-instrumentator>=6.1.1
tenacity>=8.2.3
