aws_region         = "us-east-1"
project_name       = "med-tutor"
environment        = "prod"
owner              = "PlatformTeam"
vpc_cidr           = "10.10.0.0/16"
public_subnet_cidr = "10.10.1.0/24"
public_subnet_az   = "us-east-1a"
ssh_allowed_cidr   = "SEU_IP_PUBLICO/32"
instance_type      = "t3.micro"
key_pair_name      = "example-key-pair"
repo_ref           = "main"
domain_name        = "demo.seu-dominio.com"
letsencrypt_email  = "ops@seu-dominio.com"
postgres_password_ssm_parameter      = "/medtutor/prod/postgres_password"
grafana_admin_user_ssm_parameter     = "/medtutor/prod/grafana_admin_user"
grafana_admin_password_ssm_parameter = "/medtutor/prod/grafana_admin_password"
gemini_api_key_ssm_parameter         = "/medtutor/prod/gemini_api_key"
openai_api_key_ssm_parameter         = "/medtutor/prod/openai_api_key"
